/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;

  
    background-color: #D7D9D8;

    color: #333;
    margin: 0;
}

/* Centered content for the home page */
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

/* Left-aligned content for markdown articles */
.left-aligned-content {
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    text-align: left;
}

ul {
    padding-left: 25px; /* Adjust the value as needed for bullet point indents */
}

header {

    background-color: #8D728E;

    background-color: #5C8E65;

    color: white;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #333;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2rem; /* Added margin to create space */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

nav a:hover {
    background-color: #555;
}

.about {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
}

footer {

    background-color: #5C8E65;

    color: white;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

/* Sidebar styles */
.main-content {
    display: flex;
    flex: 1; /* Ensures the main content takes up all available space */
}

.sidebar {
    width: 250px; /* Increased width from 200px to 250px */
    padding: 15px;


    background: #E7E8E7;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-bottom: 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 0.5rem;
}

.sidebar a {
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 15px;
}

