<div class="sidebar">
  <h2>Navigation</h2>
  <ul>
<li><a href="/index.html">Home</a></li>    
<li><a href="/docs/intro.html">Introduction</a></li>
<li><a href="/docs/friendcodes.html">Working at FC (2008-2012)</a></li>
<li><a href="/docs/coltejer.html">Working at Coltejer (2014)</a></li>
<li><a href="/docs/eafit.html">Working at EAFIT (2013-2018)</a></li>  
<li><a href="/docs/figtree.html">Working at Fig Tree (2018)</a></li>  
<li><a href="/docs/twl.html">Working at TWL (2018-2020)</a></li> 
<li><a href="/docs/traze.html">Working at Traze (2020-2023)</a></li>   

  </ul>
</div>
