<div class="sidebar">
  <h2>Navigation</h2>
  <ul>
    <li><a href="/index.html">Home</a></li>    
    <li><a href="/docs/intro.html">Introduction</a></li>

    <h3>➜ Recent Work Experience</h3>
     <li><a href="/docs/superna.html">Working at Superna (2023-2025)</a></li>
     <li><a href="/docs/traze.html">Working at Traze (2020-2023)</a></li> 
     <li><a href="/docs/twl.html">Working at TWL (2018-2020)</a></li> 
    <h3>➜ Jobs prior to 2020</h3>
     <li><a href="/old_jobs.html">Experience as far back as 2008</a></li> 

    <h3>➜ Other</h3>
    <li><a href="/testimonials.html">Testimonials</a></li> 
    <li><a href="/gform.html">Contact</a></li>
  </ul>
</div>
