<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon"> 
</head>



<body>
  <header>
    <h1>Portfolio: Fletcher</h1>
  </header>
  <div class="main-content">
    {% include sidebar.html %}
    <div class="left-aligned-content">
      {{ content }}
      <button id="theme-toggle" style="position: fixed; top: 1rem; right: 1rem; z-index: 1000;">
      🌓
      </button>

    </div>
  </div>
  <footer>
   <p>&copy; 2025 Built with <a href="https://github.com/fdanilogamu/fdanilogamu.github.io" target="_blank" rel="noopener noreferrer">Git</a> and grit by Fletcher Galeano ... <a href="mailto:fletcherdgaleano@gmail.com
">fletcherdgaleano@gmail.com</a></p>
  </footer>

<script>
  const toggle = document.getElementById('theme-toggle');
  const currentTheme = localStorage.getItem('theme');

  if (currentTheme) {
    document.documentElement.setAttribute('data-theme', currentTheme);
  }

  toggle?.addEventListener('click', () => {
    const html = document.documentElement;
    const newTheme = html.getAttribute('data-theme') === 'dark' ? 'light' : 'dark';
    html.setAttribute('data-theme', newTheme);
    localStorage.setItem('theme', newTheme);
  });
</script>

</body>
</html>





