<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon"> 
</head>
<body>
  <header>
    <h1>Portfolio: Fletcher</h1>
  </header>
  <div class="main-content">
    {% include sidebar.html %}
    <div class="left-aligned-content">
      {{ content }}
    </div>
  </div>
  <footer>
   <p>&copy; 2025 Built with <a href="https://github.com/fdanilogamu/fdanilogamu.github.io" target="_blank" rel="noopener noreferrer">Git</a> and grit by Fletcher Galeano ... fdanilogamu@gmail.com</p>
  </footer>
</body>
</html>





